<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\artifacts\publish\win-x64\</PublishDir>
  </PropertyGroup>

  <Target Name="CleanPublishDirectory" BeforeTargets="PrepareForPublish"
          Condition="'$(PublishDir)' != '' and Exists('$(PublishDir)')">
    <RemoveDir Directories="$(PublishDir)" />
  </Target>
</Project>
